<template>
  <div class="col s12 m6">
    <div>
      <div class="page-subtitle">
        <h4>Создать</h4>
      </div>

      <form @submit.prevent="submitHandler">
        <div class="input-field">
          <input
                  id="name"
                  type="text"
                  v-model="title"
                  :class="{invalid: $v.title.$dirty && !$v.title.required}"
          >
          <label for="name">Название</label>
          <span class="helper-text invalid" v-if="$v.title.$dirty && !$v.title.required">
            Введитеназвание категории
          </span>
        </div>

        <div class="input-field">
          <input
                  id="limit"
                  type="number"
                  v-model="limit"
                  :class="{invalid: $v.limit.$dirty && !$v.limit.limit}"
          >
          <label for="limit">Лимит</label>
          <span v-if="$v.limit.$dirty && !$v.limit.limit"
                class="helper-text invalid"

          >Минимальная значение {{ $v.limit.$params.minLength.min }}</span>
        </div>

        <button class="btn waves-effect waves-light" type="submit">
          Создать
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
</template>

<script>
    import {required, minLength} from 'vuelidate/lib/validators';

    export default {
        data: () => ({
            title: '',
            limit: 100,
        }),
        validations: {
            title: required,
            limit: minLength(100)
        },
        mounted() {
          M.updateTextFields()
        },
        methods: {
            submitHandler() {
                if(this.$v.$invalid) {
                    this.$v.$touch();
                    console.log('test');
                    return
                }
            }
        }
    }
</script>
